*, 
*::before, 
*::after {
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-wrap: wrap;
  border: solid 1px red;
  width: 960px;
  height: 960px;
}

.grid-item {
  transition: background-color 0.5s;
  flex-grow: 1;
}
