* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  border: 1px solid black;
}
